  <div class="tab-content">
    {{#each model.sequences as |sequence|}}
      {{#link-to 'yogi.sequences.sequence' sequence}}<p>Sequence: {{sequence.id}}</p>{{/link-to}}
      {{outlet}}
    {{/each}}
  </div>
