<div class="container">

  <h1>Hello From Asana Route!</h1>

  
  {{#bs-accordion as |acc|}}

    {{#each sortedAsanas as |asana index|}}
      {{#acc.item value=index title=asana.name}}
        <p>{{alice._data.description}}</p>
        <p>name</p>
      {{/acc.item}}
    {{/each}}

  {{/bs-accordion}}

</div>

{{outlet}}
