<div class="parallax">
  <div class="login">
    <h1 class="hero">Welcome To Yogiq</h1>
    <br>
    <div class="button-holder">
      {{#link-to 'yogi' model}}{{#bs-button type="success" class="login-button"}}Login{{/bs-button}}{{/link-to}}
      {{#bs-button type="info" class="sign-up-button"}}Sign-Up{{/bs-button}}
    </div>
  </div>
</div>
